<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <%- include('navbar') %>


    <fieldset>  
        <legend>Contact Form</legend>
        <form action="/send_message" method="post">

            <p>
                <label for="name">Name</label>
                <input type="text" name="name">
            </p>
    
            <p>
                <label for="email">Email</label>
                <input type="email" name="email">
            </p>
    
            <p>
                <label for="message">Message</label>
                <textarea name="message" cols="30" rows="10"></textarea>
            </p>
    
            <p>
                <input type="submit" name="submit" id="Submit">
            </p>
    
        </form>
    </fieldset>
</body>
</html>